<div class="container">

  <div class="row">

    <div class="col-sm-12" id="title">
      <h1>Eat Those Burgers</h1>
    </div>
  </div>

  <div class="row">

    <div class=" col-lg-4 burger-form">
      
        {{#each hamburgers}}
        
        <form action="/update?_method=PUT" method="POST">
          
          <input type="hidden" name="id" value="{{this.id}}">
        
       
          <div class="col-sm-8">
          {{#unless this.devoured}}
          {{this.id}}. {{this.burger_name}}
          </div>
          <div class=" col-md-4">
          <button type="submit">Delete Plan!</button>
        </div>  
          {{/unless}}
          
      </form>

        {{/each}}
      
    </div>



    <div class="col-lg-4 picture-colunm">
      Picture HERE
    </div>

    <div class="col-lg-4 devoured-colunm">
      Other Colunm
      
      <div class="col-sm-12">
      {{#each hamburgers}}
      
      {{#if this.devoured}}
      
      <p>{{this.id}}. {{this.burger_name}}</p>
      </div>
      {{/if}}
      
      {{/each}}
      

    </div>

  </div>

</div>

<div class="row">
    <h2>Add a Burger</h2>
   
    <form method="POST" action="/create" class="button-size">
      <textarea type="text" name="burger"></textarea>
      <p>
        <button type="submit">Submit!</button>
      </p>
    </form>
  </div>